

/*overwrite the tile bg color*/

.tile .is-parent{
	border: 1px solid #ededed!important;
	padding: 32px;

}
.tile .is-child{
	background-color:white;


}

.is-red{
	background : #ff5500 !important;
	color:white!important;
}

.is-warning{
	bakcground:#FCC65C !important;

}

/*backtotop button*/
.backtotop{
	position:fixed;
	bottom: 120px;
    left: 0;
    width: 42px;
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    padding: 4px;
}

/*special p style with bigger line-height*/
#specialtitle{
	font-size:2.6em;
	color:#363636;
	font-weight: 300;
	line-height: 1.4em;

}

.specialtitle2{
	font-size:2em;
	color:#363636;
	font-weight: 300;
	line-height: 1em;
	padding-bottom: 0.2em;

}



.modal{
	padding:1em;
	overflow-y:hidden;
}


.modal-content{
	width: 80%;
	padding:1em;
	overflow-wrap: break-word;
	overflow-x:hidden;
	overflow-y:scroll;
}

.hi{
	font-size:8em;
	color:#FFDD57;
	font-weight: 700;
	line-height: 1.5em;

}


.tag {
	color:red;
	background: black;
}





/*
/* unvisited link */
a:link {
    color: #363636; opacity: 1.0;

}

/* visited link */
a:visited {
    color: #363636; opacity: 1.0;
}

/* mouse over link */
a:hover {
    color:#ffffff; opacity: 1.0;
    background: #ededed;
    background: #363636;
    transition: 1s;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}

/* selected link */
a:active {
    color: #363636; opacity: 0.9;

}*/