//import grids from bulma

@import "../bulma/sass/utilities/_all.sass"
@import "../bulma/sass/grid/_all.sass"
@import "../bulma/sass/elements/image.sass"
@import "../bulma/sass/components/modal.sass"

//import own styles
@import "partials/variables.sass"


//logo fixed position to the left

#nav
	position: fixed
	z-index: 5
	left: 1rem
	top: 1rem
	@media (min-width: $desktop-breakpoint)
		left: 4rem
		top: 4rem
		

body
	overflow: scroll
	overflow-x: hidden
	&::-webkit-scrollbar 
		width: 0px  /* remove scrollbar space */
		background: transparent  /* optional: just make scrollbar invisible */

	@media (min-width: $desktop-breakpoint)
		margin: 4rem





br
	line-height: $font-lh-m

//type settings


p
	font-family: $font-family
	margin: 0
	&.largetitle
		font-size: $font-size-xxl*2
		line-height: $font-lh-xxl*2
		letter-spacing: $font-ls-m
		font-weight: $font-weight-b
	&.title
		font-size: $font-size-xxl
		line-height: $font-lh-xxl
		letter-spacing: $font-ls-m
		font-weight: $font-weight-b

	&.subtitle
		font-size: $font-size-l
		line-height: $font-lh-l
		margin: 1rem 0
		@media (min-width: $desktop-breakpoint)
			font-size: $font-size-xl
			line-height: $font-lh-xl
			margin: 1rem 0
	&.thirdtitle
		font-size: $font-size-l
		line-height: $font-lh-l
		margin: 1rem 0
	&.body
		font-size: $font-size-m
		line-height: $font-lh-m
		margin-bottom: 1rem
		
	&.label
		font-size: $font-size-m
		line-height: $font-lh-m
		letter-spacing: $font-ls-m
		margin-bottom: 1rem
		color: $mediumgrey
		text-transform: uppercase
		text-align: center
	&.smalllabel
		display: inline
		font-size: $font-size-base
		line-height: $font-lh-s
		letter-spacing: $font-ls-l
		margin-bottom: 1rem
		font-weight: $font-weight-b
		color: $white
		padding: 0.2rem
		background: $mediumgrey
		text-transform: uppercase


a
	font-family: $font-family
	color: $textgrey
	cursor: pointer
	&:hover
		color: $black
		transition: $transition-time
	&.cta
		font-size: $font-size-m
		line-height: $font-lh-m
		font-weight: $font-weight-b
		letter-spacing: $font-ls-l
		text-decoration: none
		text-transform: uppercase
		&:hover
			color: $red
			transition: $transition-time

//nav
.navitems
	background: $white

// grid settings 
.tile
	&.is-ancestor
		border-bottom: $border-l !important
		padding: 2rem 1rem
		@media (min-width: $desktop-breakpoint)
			border: $border-l !important
			margin: 1rem 0
			padding: 2rem

	&:hover .cta
		color: $red !important
		transition: $transition-time

.navitems
	margin: 0.5rem 0rem




.columns
	padding: 1rem 2rem
	@media (min-width: $desktop-breakpoint)
		margin: 0 !important
		padding: 1rem 0
	&.with-border
		border: $border-l !important
		padding: 2rem


figure
	&.image
		margin: 0rem !important